<%= simple_form_for @user do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email_address %>
<%= f.input :password %>
<%= f.button :submit %>
<% end %>
<a href="/users/">Home</a>